.container {
    width: 60rem;
    height: 50rem;
    margin: 0 auto;
    background-size: cover;
    background-color: grey;
    background-image: url("../img/halloween.jpg");
    background-position: 50% 50%;
    border-radius: 2rem;
    top: 1rem;
}

.container .main-button {
    margin-top: 22rem;
}

.container .content.texto {
    color: #e69d22;
    padding-top: 15rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

button {
    font-size: 18px;
    padding: 10px 20px;
}

.scary-image {
    width: 100vw; /* Cambia el ancho inicial a 100vw */
    height: 100vh; /* Cambia la altura inicial a 100vh */
    background-image: url("../img/monja.jpg");
    background-size: cover;
    position: absolute;
    transition: all 1s;
}
